@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');

.button {
    -fx-text-fill: "white";
    -fx-font-size: 25px;
    -fx-background-radius: 35px;
    -fx-background-color: #cc960e;
    -fx-border-radius: 35px;
    -fx-border-width: 3px;
    -fx-border-color: #ffffff;
    -fx-font-family: 'Viga', sans-serif;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #45a446;
    -fx-background-radius: 40px;
}

.root {
    -fx-background-color: #c7dbb2;
    -fx-background-image: url(../images/doodles.gif);
}

.label{
    -fx-font-family: 'Viga', sans-serif;
}

.header{
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-background-color: #45a446;
    -fx-background-radius: 30px;
}