@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');

#title{
    -fx-text-fill: #262626;
    -fx-font-size: 50px;
}

.text-field{
    -fx-font-family: 'Viga', sans-serif;
    -fx-font-size: 25px;
}