@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');


.button{
    -fx-font-size: 30px;
}


#greetingHbox .label {
    -fx-font-size: 100;
    -fx-alignment: center;
    -fx-font-family: "Gorditas", cursive;
    -fx-text-fill: #cc960e;
}

#statsTitle{
    -fx-font-size: 60;
    -fx-alignment: center;
    -fx-font-family: "Gorditas", cursive;
    -fx-text-fill: #157d20;
}

#wordList, #userStats{
    -fx-font-size: 30;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-font-family: 'Viga', sans-serif;

}


