@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');

.root {
    -fx-background-color: #c7dbb2;
    -fx-background-image: url(../images/doodles.gif);
}

#startGame{
    -fx-font-size: 30px;
}

Label {
    -fx-font-size: 140;
    -fx-alignment: center;
    -fx-font-family: "Gorditas", cursive;
    -fx-text-fill: #cc960e;
}

#topTitle{
    -fx-text-fill: white;
}


