@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');

.root {
    -fx-background-color: #c7dbb2;
    -fx-background-image: url(/images/doodles.gif);
}

#iconButton {
    -fx-background-color: none;
    -fx-border-color: none;
}

#greetingHbox .label {
    -fx-font-size: 90px;
    -fx-alignment: center;
    -fx-font-family: "Gorditas", cursive;
    -fx-text-fill: #2c2c2c;
}

.button{
    -fx-background-color: #cc960e;
}

.button {
    -fx-text-fill: "white";
    -fx-font-size: 25px;
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
    -fx-border-width: 3px;
    -fx-border-color: #ffffff;
    -fx-font-family: 'Viga', sans-serif;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #45a446;
    -fx-background-radius: 40px;
}

.left-arrow{
    -fx-background-image: url(/images/left-arrow.png);
}

.right-arrow{
    -fx-background-image: url(/images/right-arrow.png) ;
}

.left-arrow, .right-arrow{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 34px;
    -fx-background-position: center;
}

#muteButton{
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

#muteButton:hover{
    -fx-background-color: #ffffff;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

