@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');
.text-field {
    -fx-background-radius: 20px;
    -fx-font-family: 'Viga', sans-serif;
    -fx-font-size: 25px;
}

