@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');

#prevUser{
    -fx-background-image: url(../../images/left-arrow.png);
}

#nextUser{
    -fx-background-image: url(../../images/right-arrow.png) ;
}

#prevUser, #nextUser{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 34px;
    -fx-background-position: center;
}

#userLabel {
    -fx-font-family: "Viga", cursive;
    -fx-text-fill: #262626;
}

#imagePane{
    -fx-background-radius: 50px;
    -fx-background-size: 100px;
    -fx-border-radius: 50px;
}
