@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');

.root{
    -fx-background-color: #e0ddff;
    -fx-background-image: url(/images/question.png);
    -fx-background-size: 250px;
}

.button{
    -fx-background-color: #e5909d;
}
.button:hover{
    -fx-background-color: #8980d7;
}
#canvasPane {
    -fx-border-width: 5px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}

#predLabel {
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-background-radius: 15px;
    -fx-background-color: #e5909d;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Viga', sans-serif;
}

#wordLabel ,#predTitle, .hidden-header{
    -fx-font-family: 'Viga', sans-serif;
    -fx-text-fill: #5a51ab;
}

#timerCount{
    -fx-font-family: 'Viga', sans-serif;
    -fx-text-fill: #e5909d;
}

#eraseBtn, #speakWord, #onInk, #clearButton{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 34px;
    -fx-background-position: center;
}

#speakWord{
    -fx-background-image: url(../../../images/ear.png);
}

#eraseBtn{
    -fx-background-image: url(../../../images/eraser.png);
}

#onInk{
    -fx-background-image: url(../../../images/pen.png);
}

#clearButton{
    -fx-background-image: url(../../../images/trash.png);
}

#readyLabel{
    -fx-alignment: center;
    -fx-font-family: "Gorditas", cursive;
    -fx-text-fill: #e5909d;
}
