@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Viga&display=swap');

.root{
    -fx-background-color: #bddee8;
    -fx-background-image: url(../../../images/clouds.png);
    -fx-background-size: 250px;
}

.button{
    -fx-background-color: #68a869;
}

.button:hover{
    -fx-background-color: #60b4c9;
}

#canvasPane {
    -fx-border-width: 5px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}

#predLabel {
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-background-radius: 15px;
    -fx-background-color: #68a869;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Viga', sans-serif;
}

.small-header{
    -fx-background-color: #5da1b4;

}

#wordLabel, #predTitle{
    -fx-font-family: 'Viga', sans-serif;
    -fx-text-fill: #388498;
}

#timerCount{
    -fx-font-family: 'Viga', sans-serif;
    -fx-text-fill: #388498;
}

#eraseBtn, #speakWord, #onInk, #clearButton, #saveImage{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-background-position: center;
}

#speakWord{
    -fx-background-image: url(../../../images/ear.png);
}

#eraseBtn{
    -fx-background-image: url(../../../images/eraser.png);
}

#onInk{
    -fx-background-image: url(../../../images/pen.png);
}

#clearButton{
    -fx-background-image: url(../../../images/trash.png);
}

#saveImage{
    -fx-background-image: url(../../../images/save-image.png);
}

#readyLabel{
    -fx-alignment: center;
    -fx-font-family: "Gorditas", cursive;
    -fx-text-fill: #5da1b4;
}

.blue .bar{
    -fx-background-radius: 20px;
    -fx-background-color: dodgerblue;
}

.orange .bar{
    -fx-background-radius: 20px;
    -fx-background-color: #cc960e;
}

.red .bar{
    -fx-background-radius: 20px;
    -fx-background-color: red;
}

.progress-bar .track {
    -fx-background-radius: 20px;
}
.progress-bar {
    -fx-background-radius: 20px;
    -fx-control-inner-background: #bddee8;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: white;
}

.prog-label{
    -fx-font-size: 20px;
}

.small-header {
    -fx-font-size: 20px;
}

.slider .track{
    -fx-background-color: #388498;
}

.slider .thumb{
    -fx-background-color: white;
    -fx-border-color: #388498;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
}

.color-picker {
    -fx-background-radius: 35px;
    -fx-background-color: #68a869;
    -fx-border-radius: 28px;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-cursor: hand;
    -fx-font-family: 'Viga', sans-serif;
}

.color-picker .arrow{
    -fx-mark-color: white;
}

 .picker-color {
     -fx-border-color: white;
     -fx-border-width: 2px;
    -fx-background-radius: 20px;
     -fx-background-color: #68a869;
 }

.tooltip{
    -fx-font-family: 'Viga', sans-serif;
    -fx-font-size: 15px ;
    -fx-base: #5da1b4;
    -fx-background-color: #5da1b4;
    -fx-text-fill: white;
}
